{% extends 'base.html' %}

{% block body %}

<h2> {{ the_title }}</h2>

<p> The log file results:</p>

<table>
    <!-- Заголовки -->
    <tr>
        {% for row_title in the_row_titles %}
            <th>{{ row_title }}</th>
        {% endfor %}
    </tr>
    <!-- Перебираем список списков и раскладываем данные по ячейкам -->
    {% for long_row in the_data %}
        <tr>
            {% for item in long_row %}
                <td> {{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}}